@charset "utf-8";

body {
  margin: 0;
  font-family: "Galmuri11", sans-serif;
}

/****** 공통 ******/
.btn {
  margin: 0 10px 20px;
  width: 200px;
  height: 60px;
  background: #2e135b;
  border: 6px ridge #fff;
	/* border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5); */
  font-family: "Galmuri11", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  background-color: #8039fe;
}

.bg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

#wrapper {
  position: relative;
  height: 100vh;
  background: url(../images/space-background.jpg) no-repeat 50% 50% / cover;
}

/****** start-screen ******/
#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 15vh 0;
  height: 100%;
}

#start-screen h1 {
  margin-bottom: auto;
  width: 100%;
  height: 300px;
  background: url(../images/title.svg) no-repeat center / contain;
  text-align: center;
  text-indent: -9999px;
}

#start-screen .logo span.block {
  display: block;
}

#start-screen #name-input {
  width: 60%;
  height: 40px;
  text-align: center;
}

#start-screen .btn-wrap {
  display: flex;
  justify-content: center;
}

/****** canvas-screen ******/
#canvas-screen {
  justify-content: center;
}

/****** game-over ******/
#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game-over .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#game-over img {
  width: 100%;
  height: 100%;
}

/****** menual-screen ******/
#manual-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#manual-screen .menual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: #fff;
  border: 10px ridge #fff;
}


#manual-screen .menual_title {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 240px;
  background: #8039fe;
  border: 10px ridge #8039fe;
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
  color: #fff;
}